body { 
  font-family: 'Poppins', sans-serif; 
}

.left-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-box {
  max-width: 350px;
  width: 100%;
}

.btn-red {
  background: #f13c2f;
  color: #fff;
  border: none;
}

.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red:focus:active {
  background: #f13c2f;
  color: #fff;
  border: none;
  box-shadow: none;
}

.is-invalid {
  border-color: #dc3545 !important; /* bootstrap danger */
  box-shadow: none !important;
}

.saldo-masked {
  letter-spacing: 1px;
  font-weight: bold;
}

.btn-nominal{
  width: 100px;
  height: 35px;
}